.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25.6rem;
    height: 29.4rem;

    border-radius: 8px;
    background: var(--color-dark);
}

.card > img {
    width: 100%;
    height: 7.2rem;
    object-fit: cover;

    border-radius: 8px 8px 0px 0px;
}

.card .avatar {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-top: -3.5rem;
  
    border: 2.5px solid var(--color-dark);
    outline: 2.5px solid var(--green);
}

.card .nome {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
      
    margin-top: 1.6rem;
    color: var(--gray-light);
}
      
.card .descricao {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 160%;
      
    margin-bottom: 10px;
    color: var(--gray-dark);
}

.card .stack {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--gray-dark);
    padding: 0.8rem;
    gap: 0.8rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
  }