*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --red: #ff392e;
    --green:#00b37e;
    --gray-light:#e1e1e6;
    --color-bg: #1e1e1e;
    --gray-dark:#8d8d99;
    --color-dark:#202024;
    --color-line:#323238;
    --color-deep: #1a1924;
    --color-deeper: #16151e;

    font-size: 62.5%;
}

body {
    background-color: var(--color-bg);
    color: var(--gray-light);
}

body, input, textarea, button {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}